/* brute force hack to correct JSONEditor built-in direct render-time element styling element.style {
	 display: block;
}
 */
td[data-schematype=array] {
  display: table-cell !important;
}
.checkBoxWrapper {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
}
.checkBoxWrapper > label:first-of-type {
  padding-left: 20px;
}
.checkBoxWrapper input[type='checkbox'].checkBox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkBoxWrapper input[type='checkbox'].checkBox:focus ~ .checkBoxSpan:after {
  border: 1px #ccc dotted;
}
.checkBoxWrapper input[type='checkbox'].checkBox ~ .checkBoxSpan {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #eee;
}
.checkBoxWrapper input[type='checkbox'].checkBox ~ .checkBoxSpan:after {
  content: '\e601';
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  border: 1px solid #d7d7d7;
  color: transparent;
  display: inline-block;
  font-size: 12px;
  position: absolute;
}
.checkBoxWrapper input[type='checkbox'].checkBox:checked ~ .checkBoxSpan {
  background-color: #22ae36;
}
.checkBoxWrapper input[type='checkbox'].checkBox:checked ~ .checkBoxSpan:after {
  color: #fff;
  background-color: #22ae36;
  border: 1px solid #22ae36;
}
.checkBoxWrapper p {
  margin-left: 1.75rem;
}
.av-panel-container, .advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder {
  border: 0;
  padding: 0;
}
.advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder {
  /* located in cup-client/app/styles/components/av-panel.scss */
  margin-top: 7px;
  margin-bottom: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  /* JSON-editor builds non-contextualized nested (indented) panels */
}
.advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder > .av-rule-header {
  margin-top: 7px;
  margin-bottom: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder > .av-rule-header span:nth-child(n + 3) {
  display: none;
}
.advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel {
  border: none;
  /* form elements, grouped */
}
.advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel .av-editor-row:first-child {
  border-bottom: 1px solid #e7e7e7;
}
.advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel h3 {
  margin-bottom: 0rem;
  padding-bottom: 0.3rem;
  color: #5f6062;
  font-weight: normal;
  line-height: 1.2;
}
.advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel h3.af-header-branded-upper {
  text-transform: uppercase;
  color: #f60;
}
.advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel h2.av-rule-header {
  padding-top: 7px;
  padding-bottom: 7px;
}
.advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel table {
  width: 100%;
  border: none;
}
.advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel table thead, .advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel table tfoot {
  background-color: transparent;
}
.advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel table thead th, .advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel table tfoot th {
  padding-bottom: 0;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 10.5px;
  color: #72767e;
}
@media screen and (max-width: 40.063em) {
  .advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel table thead, .advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel table tfoot {
    display: none;
  }
}
.advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel table tbody tr {
  border: none;
}
.advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel table th, .advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel table td {
  padding-left: 0;
}
@media screen and (max-width: 40.063em) {
  .advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel table th, .advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel table td {
    display: table-row;
  }
}
.advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel table td {
  width: 25%;
  vertical-align: top;
}
.advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel table td:nth-child(3) {
  width: 40%;
}
@media screen and (max-width: 40.063em) {
  .advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel table td:nth-child(3) {
    width: 100%;
  }
}
.advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel table td:nth-child(even) {
  width: 20%;
}
.advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel table td:last-child {
  text-align: left;
}
.advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel table td > .av-rule-panel {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}
.advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel table td > .av-rule-panel span {
  /* in order to get the av-rule-panel "add value" button to show at the bottom of the control list, we'll use the flex "order" property on all span tags in the av rule panel. This is attached to the structure of the editor structure, and depends on the table column (td) owning a div called 'av-rule-panel', that owns a div with values, and spans with actions */
  order: 99;
}
.advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel table td > .av-rule-panel .av-rule-panel {
  display: flex;
  align-content: stretch;
  justify-content: flex-start;
}
.advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel table td > .av-rule-panel .av-rule-panel .form-control {
  margin-right: 1rem;
}
@media screen and (max-width: 40.063em) {
  .advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel table td > .av-rule-panel .av-rule-panel .form-control {
    flex-basis: auto;
    flex-grow: 1;
  }
}
.advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel table td > .av-rule-panel .av-rule-panel label {
  display: none;
}
@media screen and (max-width: 40.063em) {
  .advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel table td:last-child {
    text-align: left;
  }
}
.advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel table td[data-schemapath*='FieldName'], .advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel table td[data-schemapath*='Operator'] {
  width: 25%;
}
.advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel table td[data-schemapath*='Scope'] {
  width: 15%;
}
.advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel .av-grid-row + .av-grid-row {
  border-top: 1px solid #e7e7e7;
}
.advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel input[type='text'] {
  min-width: 8rem !important;
}
.advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel select {
  width: 100%;
}
.advanced-rule-add-edit-page .advanced-rule-form .av-rule-holder .av-rule-panel a {
  padding-bottom: 1rem;
}
.advanced-rule-add-edit-page .advanced-rule-form > .av-rule-panel-container > h2.av-rule-header {
  margin-top: 7px;
  margin-bottom: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.advanced-rule-add-edit-page .advanced-rule-form > .av-rule-panel-container button, .advanced-rule-add-edit-page .advanced-rule-form > .av-rule-panel-container button.tertiary {
  padding-left: 0;
  margin-bottom: 0;
}
.advanced-rule-add-edit-page .advanced-rule-form .disabled-add-button {
  color: var(--color-gray-light);
}
.advanced-rule-add-edit-page .tax-rule-date-picker-row {
  display: flex;
}
.advanced-rule-add-edit-page .tax-rule-date-picker-row .date-container.begin {
  margin-right: 1rem;
}
.advanced-rule-add-edit-page .select-rules-type, .advanced-rule-add-edit-page .with-error {
  display: flex;
}
.advanced-rule-add-edit-page .rule-types-label.read-only {
  display: inline-flex;
}
.advanced-rule-add-edit-page .rule-description {
  color: #72767e;
  font-weight: 300;
}
.advanced-rule-add-edit-page .rule-description.indented {
  margin-left: 5.5rem;
}
.advanced-rule-add-edit-page input, .advanced-rule-add-edit-page select {
  max-width: 25rem;
}
.advanced-rule-add-edit-page .copy-rule {
  color: #027fad;
  background-color: #fff;
}
td[data-schemapath*='When'][data-schemapath*='Value'] button.json-editor-btntype-delete > s-icon:before {
  content: '\e802';
  color: #c70000;
}
tr[data-schemapath='root.Data20.When.AllocationCriteriaValue.0'] {
  border: blue 1px solid;
}
div[data-schemapath='root.DocType'] label {
  margin-top: 0;
}
div[data-schemapath='root.DocType'] .form-control label {
  text-transform: none;
  letter-spacing: normal !important;
  font-size: 14px;
}
div[data-schemapath='root.DocType'] .form-control .checkBoxSpan {
  margin-top: 3px;
}
tr[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0'] td[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0.AddressLine1'], tr[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0'] td[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0.AddressLine2'], tr[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0'] td[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0.City'] {
  width: auto !important;
}
tr[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0'] td[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0.AddressLine1'] div.form-control input, tr[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0'] td[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0.AddressLine2'] div.form-control input, tr[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0'] td[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0.City'] div.form-control input {
  width: 15rem;
}
tr[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0'] td[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0.State'], tr[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0'] td[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0.ZipCode'], tr[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0'] td[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0.AllocationBasisValue'] {
  width: auto !important;
}
tr[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0'] td[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0.State'] div.form-control select, tr[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0'] td[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0.ZipCode'] div.form-control select, tr[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0'] td[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0.AllocationBasisValue'] div.form-control select {
  width: 8rem !important;
}
tr[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0'] td[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0.State'] div.form-control input, tr[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0'] td[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0.ZipCode'] div.form-control input, tr[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0'] td[data-schemapath='root.Data.0.When.AllocationCriteriaValue.0.AllocationBasisValue'] div.form-control input {
  width: 8rem !important;
}
div[data-schemapath='root.AggregateExpressions'] {
  border-top: 1px solid #e7e7e7;
  margin-top: 1rem;
}
div[data-schemapath='root.AggregateExpressions'] > h2.av-rule-header {
  margin-bottom: 1rem;
}
div[data-schemapath='root.AggregateExpressions.0'] h2.av-rule-header > span:first-of-type, div[data-schemapath='root.Expressions.0'] h2.av-rule-header > span:first-of-type {
  font-size: smaller;
  color: #5f6062;
}
div[data-schemapath='root.Data.0'] > h2 span:first-child {
  font-size: smaller;
  color: #5f6062;
}
div[data-schemapath='root.Data.0'] button.json-editor-btn-delete, div[data-schemapath='root.Data.0'] button.json-editor-btn-add {
  min-width: 8rem;
}
div[data-schemapath='root.Expressions'], div[data-schemapath='root.Data'] {
  margin-top: 1rem;
}
div[data-schemapath='root.Expressions'] > h2.av-rule-header, div[data-schemapath='root.Data'] > h2.av-rule-header {
  margin-bottom: 1rem;
}
div[data-schemapath='root.Expressions'] .av-editor-row:first-child, div[data-schemapath='root.Data'] .av-editor-row:first-child {
  border-bottom: none !important;
}
td[data-schemapath='root.AggregateExpressions.0.Definition.0.Name'], td[data-schemapath='root.Expressions.0.Expression.0.Name'], td[data-schemapath='root.Data.0.When.Custom.0.Expression'] {
  width: 5% !important;
}
div[data-schemapath='root.AggregateExpressions'] div[data-schemapath$='Definition'] table + span {
  display: none;
}
div[data-schemapath='root.AggregateExpressions'] div[data-schemapath$='Definition'] table[style*='display: none'] + span {
  display: block;
}
.copy-rule-modal {
  width: 24rem;
}
.copy-rule-modal p.info-text {
  text-transform: none;
  font-weight: lighter;
  letter-spacing: normal;
  color: #72767e;
}
.av-table-container-main table.av-table-container {
  width: 100%;
}
.av-table-container-main table.av-table-container tr.advanced-rules-table-row td.rule-checkbox label.rule-av-checkbox {
  width: 14px;
  padding-left: 0;
  margin-left: 4px;
  line-height: 1;
}
.av-table-container-main table.av-table-container tr.advanced-rules-table-row td.rule-checkbox label.rule-av-checkbox i.check-box-visual {
  margin-right: 0;
}
.av-table-container-main table.av-table-container tr.advanced-rules-table-row td.rule-checkbox label.rule-av-checkbox i.check-box-visual:not(.is-checked):before {
  background: #fff;
}
.av-table-container-main table.av-table-container tr.advanced-rules-table-row td.rule-checkbox label.rule-av-checkbox i.check-box-visual.disabled:before {
  background: #f5f6fa;
}
.popover.reorder-rules {
  width: 50%;
  margin-top: -161px;
}
.popover.reorder-rules > div[x-arrow] {
  width: rem-calc(20);
  height: rem-calc(20);
  bottom: -10px;
}
.popover.reorder-rules .close-modal i {
  padding-left: 10rem;
}
.modal-dialog.exit-rule-reorder-modal {
  width: 28rem;
}
.av-button-container {
  overflow-wrap: normal;
  margin-bottom: 1.5rem;
}
.av-button-container button {
  line-height: 1.25rem;
}
.av-button-container button.tertiary:focus {
  box-shadow: none;
}
.av-rule-panel table thead th, .av-rule-panel table tbody th, .av-rule-panel table tbody td {
  border: none;
}